{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mawa3id</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <nav>
  {% if user.is_authenticated %}
    <li>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </li>

    <li><a href="{% url 'profile_detail' %}">My Profile</a></li>

    {% if user_role == "client" %}
    <li><a href="{% url 'posts_create' %}">Create Post</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    {% else %}
      <li><a href="{% url 'posts_index' %}">Posts</a></li>
      {% with mybiz=user.businesses.first %}
        {% if mybiz %}
          <li><a href="{% url 'business_dashboard' %}">Home</a></li>
        {% else %}
          <li><a href="{% url 'business_create' %}">Create Business</a></li>
        {% endif %}
      {% endwith %}
    {% endif %}




  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Signup</a></li>
  {% endif %}
</nav>

    {%block content%} {%endblock%}
  </body>
</html>
