{%extends 'base.html'%}
{%block content%}

{% if user.is_authenticated %}
  <h2>All Businesses</h2>
  {% load static %}

  <div class="business-container">
  {% for buiz in businesses %}
    <div class="business-card">
      <hr>
      <a href="{% url 'business_detail' pk=buiz.id %}">
        <img src="{% static buiz.owner.profile.image|cut:'main_app/static/' %}" alt="{{ buiz.name }}">
      </a>

      <h3>
        <a href="{% url 'business_detail' pk=buiz.id %}">
          {{ buiz.name }}
        </a>
      </h3>

      <p class="category">{{ buiz.category }}</p>

      <p class="summary">
        {{ buiz.description|truncatewords:20 }}
      </p>
    </div>
  
  {% endfor %}
</div>

{% else %}
  <h2>Welcome to Mawa3id</h2>
{% endif %}

{%endblock%}
