{% extends "base.html" %}

{% block content %}
<h1>Business</h1>
  <div >
    <div>
      <span>{{ business.name }}</span>
      <span>{{ business.category }}</span>
      <span>{{ business.description }}</span>
      <div >
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
      {% if user.is_authenticated and user != business.owner %}
      <div class="contact-section">
        <a href="{% url 'conversation' user_id=business.owner.id %}" class="message-button">Contact Business</a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}


