{% extends "base.html" %}
{% block content %}

<h1>Business Dashboard</h1>

<table>
  <tr>
    <!-- LEFT -->
    <td>
<h2>Business Details</h2>

{% if request.GET.edit %}
  <form method="post" action="{% url 'business_dashboard' %}">
    {% csrf_token %}
    {{ business_form.as_p }}
    <button type="submit">Save</button>
    <a href="{% url 'business_dashboard' %}">Cancel</a>
  </form>
{% else %}
  <p><strong>Name:</strong> {{ business.name }}</p>
  <p><strong>Description:</strong> {{ business.description }}</p>
  <p><strong>Category:</strong> {{ business.category }}</p>

  <a href="{% url 'business_dashboard' %}?edit=1">Edit</a>
{% endif %}
    </td>

    <!-- RIGHT -->

    <td>
    {% if has_google and calendar_src %}
      <h2>Bookings Calendar ({{ month }}/{{ year }})</h2>
  <iframe
    src="https://calendar.google.com/calendar/embed?src={{ calendar_src|urlencode }}&ctz={{ calendar_tz|urlencode }}"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no">
  </iframe>


  {% if bookings %}
    <ul>
      {% for b in bookings %}
        <li>
          <div><strong>Date/Time:</strong> {% load tz %} {{ b.slot.start|localtime|date:"Y-m-d H:i" }}</div>

          <div><strong>Client:</strong>
            {% if b.client %}{{ b.client.username }}{% else %}—{% endif %}
          </div>

          <div><strong>Service:</strong>
            {% if b.slot.service %}{{ b.slot.service.name }}{% else %}—{% endif %}
          </div>

          <div><strong>Status:</strong> {{ b.status }}</div>

          <div>
            <a href="{% url 'booking_update' pk=b.id %}">Edit status</a>
          </div>
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>No bookings yet.</p>
  {% endif %}

{% else %}

  <h2>Bookings Calendar ({{ month }}/{{ year }})</h2>

  <p>
    <a href="?year={{ year }}&month={{ month|add:'-1' }}">Prev</a>
    |
    <a href="?year={{ year }}&month={{ month|add:'1' }}">Next</a>
  </p>

  <table border="1">
    <tr>
      <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
    </tr>

    {% for week in weeks %}
      <tr>
        {% for cell in week %}
          <td>
            {% if cell.day %}
              <strong>{{ cell.day }}</strong>
              <ul>
                {% for b in cell.bookings %}
                  <li>
                    {% load tz %}
                    {{ b.slot.start|localtime|date:"Y-m-d H:i" }}
                    —
                    {% if b.client %}{{ b.client.username }}{% else %}Client{% endif %}
                    —
                    {{ b.status }}
                    |
                    <a href="{% url 'booking_update' pk=b.id %}">Edit</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

{% endif %}

{% endblock %}
