{% extends "base.html" %}

{% block content %}
<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-image-section">
        {% load static %}
        <img src="{% static profile.image|cut:'main_app/static/' %}" alt="Profile Photo" class="profile-image" />
      </div>
      <div class="profile-info">
        <h1 class="profile-name">{{ user.username }}</h1>
        <p class="profile-role">{{ profile.get_role_display }}</p>
        <a href="{% url 'profile_update' %}" class="btn primary-btn">Edit Profile</a>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
